.land {
    width: 100%;
    height: 34%;

    position: relative;
    overflow: initial;

    z-index: 3;
}

// .land__tree {
//     position: absolute;
//     top: 20px;
//     left: 100px;

//     .tree__base {
//         height: 50px;
//         width: 15px;
//         background: #9F6E58;
//     }

//     .tree__leaf {
//         position: relative;
//         left: -19px;

//         width: 50px;
//         height: 150px;

//         background: red;
//         // clip-path: inset(45% 0% 33% 10% round 10px);
//         border-radius: 50% 50% 49% 51% / 100% 100% 0% 0%;
//     }
// }

.land__left {
    width: 66%;
    height: 170px;
    border-radius: 0 100% 0% 0;
    background: linear-gradient(to right, #447741, #59954A);
    position: absolute;
    bottom: -30px;
    z-index: 2;
}

.land__right {
    width: 67%;
    height: 159px;
    border-radius: 100% 0 0 0%;
    background: linear-gradient(to right, #80B145, #97C14B, #C6CC51);
    position: absolute;
    right: 0;
    bottom: -13px;
}