@import './shared.scss';

@mixin water-day {
    background-image: linear-gradient(to right, #006992, #298AAA, #51ACC2, #7ACDDA);
}

@mixin water-night {
    background-image: linear-gradient(to right, #006994, #11848C, #20B2AA);
}

@keyframes water_color {

    0%,
    22% {
        opacity: 0;
    }

    38%,
    70% {
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}

.water {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;

    box-shadow: inset 0 1px 4px -3px white;
    @include water-day;

    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        z-index: 0;
    }

    &:before {
        @include water-night;
        animation: water_color $day_time infinite linear;
    }
}

.water__wave {

    &::before,
    &::after {
        content: "";
        position: absolute;

        height: 10px;
        width: 40px;

        opacity: 0.5;
    }

    &::before {
        border-radius: 100% 100% 0 0;
        background: linear-gradient(to bottom, #fff, transparent 70%);
    }

    &::after {
        border-radius: 0 0 100% 100%;
        background: linear-gradient(to top, #fff, transparent 70%);
    }

    &:nth-child(1) {
        &:before {
            right: 40px;
            top: 20px;
        }

        &:after {
            right: 67px;
            top: 18px;
        }
    }

    &:nth-child(2) {
        &:before {
            right: 280px;
            top: 20px;
        }

        &:after {
            right: 307px;
            top: 18px;
        }
    }

    &:nth-child(3) {
        &:before {
            right: 150px;
            top: 40px;
        }

        &:after {
            right: 177px;
            top: 38px;
        }
    }

    &:nth-child(4) {
        &:before {
            right: 245px;
            top: 65px;
        }

        &:after {
            right: 277px;
            top: 62px;
        }
    }

    &:nth-child(5) {
        &:before {
            right: 395px;
            top: 40px;
        }

        &:after {
            right: 427px;
            top: 38px;
        }
    }

    &:nth-child(6) {
        &:before {
            right: 525px;
            top: 15px;
        }

        &:after {
            right: 557px;
            top: 13px;
        }
    }
}